{% extends "blog/base.html" %}
{% load humanize %}

{% block title %}
Computerbacon
{% endblock %}

{% block content %}


      <header>
          <h1 id="fuckingheader">Charles Mills</h1>
          <p>Technical musings of an unemployable <a class="ginger" href="http://en.wikipedia.org/wiki/Ginger_hair">ginger</a>.</p>
      </header>



  {% for post in object_list %}

  <div class="post">
    <div class="row">
      <div class="col-md-12">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }} </a> <span class="label label-default" style="background-color: #CC6600;">Recent</span></h2>
        <p class="post-subtitle">{{ post.date_created|naturaltime }}</p>
        {{ post.rendered|safe|truncatewords_html:100 }}
      </div>
    </div>
  </div>

  {% endfor %}


  <div class="pagination"></div>

  {% endblock %}